# Ignore Python virtual environment
venv/

# Ignore data files
data/

# Ignore generated figures
figures/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Editor/IDE files
.vscode/
.idea/