# Ignore Python virtual environment
venv/

# Ignore data files
data/

# Ignore generated figures
figures/

metrics/

scripts/*.json
scripts/xgboost_extra.py
scripts/print_info.py
scripts/xgboost_train.py

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Editor/IDE files
.vscode/
.idea/


*.csv